<h1>The Base Form</h1>
<form [formGroup]="myForm"
      (ngSubmit)="submit()">
  <label>
    Name: <input type="text"
           id="name"
           formControlName="name" />
    <div *ngIf="submitted && myForm.get('name').errors?.required">
      Your name is required.
    </div>
  </label>

  <input type="submit"
         value="Submit" />

</form>

<br>Dirty: {{ myForm.dirty }}
<br>Touched: {{ myForm.touched }}
<br>Valid: {{ myForm.valid }}
<br>Value: {{ myForm.value | json }}
<br>{{myForm.get('name').errors?.length}}
