<h1>The Base Form</h1>
<form [formGroup]="myForm"
      (ngSubmit)="submit()">
  <label>
    Name: <input type="text"
           id="name"
           formControlName="name" />
    <div *ngIf="submitted && myForm.get('name').errors?.required">
      Your name is required.
    </div>
  </label>
  <app-nested-form [form]="myForm"></app-nested-form>

  <input type="submit"
         value="Submit" />

</form>

<br>Dirty: {{ myForm.dirty }}
<br>Touched: {{ myForm.touched }}
<br>Valid: {{ myForm.valid }}
<br>Value: {{ myForm.value | json }}
<br>{{myForm.get('name').errors?.length}}
<h5 *ngIf="success">You Entered:</h5>
<span>Name: {{myForm.value.name}}</span><br>
<span>Number: {{myForm.value.myNumber}}</span>
